.gh-article-image-wide, .gh-article-image-regular {
    margin: 0 0 64px;
}

.gh-article-image-wide {
    grid-column: wide-start/wide-end;
}

.gh-article-image-regular {
    grid-column: main-start/main-end;
}

.gh-article-image-wide img, .gh-article-image-regular img {
    width: 100%;
}


.gh-article-title {
    font-size: 3.2rem;
}

.gh-article-excerpt {
    margin-top: 16px;
    font-size: 1.8rem;
}

/* Yuurei-specific: short black line right below title */

.gh-content {
    margin-top: 0;
}

@media (max-width: 767px) {
    .gh-content {
        margin-top: 0;
        font-size: 1.7rem;
    }
}

.hr-title {
    background-color: var(--color-darker-gray);
    border: 0;
    height: 1px;
    width: 5rem;
    margin: 0.5rem 0 0.7rem;
}